{
  "Parameters": {
    "BUCKET_REGION": "",
    "BUCKET_ACCESS_POINT": "",
    "LOG_LEVEL": "",
    "MIN_WIDTH": "",
    "MAX_WIDTH": "",
    "DEFAULT_WIDTH": "",
    "MIN_HEIGHT": "",
    "MAX_HEIGHT": "",
    "DEFAULT_HEIGHT": "",
    "DEFAULT_QUALITY": "",
    "DEFAULT_TRANSFORM": ""
  }
}
